<div class="w3-card">
  <p>Husnupari Obili</p>
</div>
<div class="w3-card-4 w3-dark-grey">

<div class="w3-container w3-center" style="width:50%">
  <h3>Friend request</h3>
  <img src="/img/img_avatar3.png" alt="Avatar" style="width:80%">
  <h5>John Doe</h5>

  <button class="w3-button w3-green">Accept</button>
  <button class="w3-button w3-red">Decline</button>
</div>

</div>